

 *{
  margin: 0;

  /* box-sizing: border-box; */

 
} 


body{

  
    background-color: #a9aaac;
    width: 100%;
    height: 100%;


}



.inputentrada{
    display: flex;
    position: relative;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 10px;
}
.entrada{

    position: relative;
    overflow: hidden;
    width: 100%;
    


}



header{
    background-color: #2c3e50;
    height: 25px;
    color: white;
    width: 100%;
    padding-top: 10px;
  

    text-align: left;

    
}



#menu {
     /* margin:auto;   */
    height: 50px;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    /* justify-content: center; */
    align-items: center;
     background-color: #a9aaac;
     /* border: white  solid 0.5px; */
  

    


  
}

.carrucel {
	width: 100%;
    height: 450px;
	margin:50px auto 0;
	overflow: hidden;
}

.carrucel ul {
	display: flex;
	padding: 0;
	width: 400%;
	overflow: hidden;
	animation: slide 15s infinite alternate ease-in-out;
}

.carrucel li {
	width: 100%;
	list-style: none;
    }

.carrucel img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


ul, ol {
    list-style:none;
}

.nav li a {
     /* background-color:#000;  */
     background: #a9aaac;
     color: white;
    text-decoration:none;
    padding:7px 9px;
    display:block;
    
}

.nav > li {
    float:left;
}

.nav li a:hover {
    background-color:#2c3e50;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}


.nav li ul li {
    position:relative;
}


.nav li ul li ul {
    right:-140px;
    top:0px;
   
}

.nav{
    display: flex;
    justify-content: center; 

 
    width: 100%;
    /* background-color: #24252a; */

    /* padding: 50px; */
   
   
    
}

.feature a{

    text-decoration: none;
}


.features a{

    text-decoration: none;
}

.feature{
     /* background-color: #2c3e5063;  */
    color: white;
  
}


.feature:hover{

    scale: 1.1;
}

.features ,h3 ,p{

  
    color: white;
}

.feature{

    box-shadow: 1px 10px 20px rgba(0, 0, 0,0.55);
}

/* 
.features :hover{

    scale: 1.1;
 } */


.features{
    /* align-items: center; */
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 60px;
    padding: 30px;
    color: white;


}

.feature {
    text-align: center;
    padding: 30px;
     border-radius: 10px;
    border-radius: 10px;
    border: #143544 solid 2px; 

}

section img{
    
    height: 100px;
    width: 100px;
}

.espacio{

    height: 60px;
    
    }
footer{
    color: white;
        text-align: center;
    background-color: #2c3e50;
    height: 30px;
    padding-top: 15px;
    
    position: fixed ;
    /* ojo */
    
    bottom: 0;
    width: 100%;
    
    padding: 10px;
    }
